<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gastos</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<header>
    <button id="home">
        Volver a Inicio
    </button>

    <button id="logout">
        Cerrar Sesión
    </button>
</header>

<body>

    <h1>Gastos</h1>
    <div id="spents">
    </div>

<script>
    $(document).ready(function (){

        $('#home').on('click', function(e){
                location.href = "/templates/home.html"
        })

        $('#logout').on('click', function (e){
                localStorage.removeItem('jwt')
                location.reload()
            })
        $.ajax({
            url: backendUrl() + "/spents",
            method: 'GET',
            contentType: 'application/json',
            headers: {
                "Authorization" : "Bearer " + JWT
            },
            success:function (response){
                response.forEach((spentData)=> (
                    $('#spents').append(
                        `<div>
                                <p><span>${spentData.concept}</span></p>
                                <p><span>${NUMBERFORMATTER.format(spentData.quantity)}</span></p>
                                <p><span>${DATEFORMATTER.format(spentData.date)}</span></p>
                            </div>`
                    )
                ))
            },
            error:function (xhr, status, error){
                console.error(xhr.responseText);
            }
        })
    })
</script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/urls.js"></script>
</body>
</html>