<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Balance</title>
</head>

<header>

    <button id="home">
        Volver a Inicio
    </button>

    <button id="logout">
        Cerrar Sesión
    </button>
</header>
<body>
    
    <button id="createIncome">
        Crear Ingreso
    </button>
    <div id="incomes">
        <div id="allIncomes">
            <label for="allIncomes">Ingresos Recientes</label>
        </div>
    </div>

    <button id="createSpent">
        Nuevo Gasto
    </button>
    <div id="spents">
        <div id="allSpents">
            <label for="allSpents">Gastos Totales</label>
        </div>
    </div>

    <div id="total">
        <p>Total Ingresos: <span id="totalIncomes"></span></p>
        <p>Total Gastos: <span id="totalSpents"></span></p>
        <p>Balance: <span id="balance"></span></p>
    </div>

    <script>
        $(document).ready(function(){
            $.ajax({
                url: backendUrl() + "/balance",
                method: 'GET',
                contentType: 'application/json',
                headers: {
                    "Authorization" : "Bearer " + JWT
                },
                success:function(response){
                    response.incomes.map((incomeData)=>(
                        $('#allIncomes').append(
                            `<div>
                                <p><span>${incomeData.concept}</span></p>
                                <p><span>${incomeData.quantity}</span></p>
                                <p><span>${DATEFORMATTER.format(incomeData.date)}</span></p>
                            </div>`
                        )
                    ))

                    response.spents.map((spentData)=>(
                        $('#allSpents').append(
                            `<div>
                                <p><span>${spentData.concept}</span></p>
                                <p><span>${spentData.quantity}</span></p>
                                <p><span>${DATEFORMATTER.format(spentData.date)}</span></p>
                            </div>`
                        )
                    ))

                    $('#totalIncomes').text(response.totalIncomes)
                    $('#totalSpents').text(response.totalSpents)
                    $('#balance').text(response.total)
                },
                error: function(hxr, status, error){
                    alert('An error occurred: ' + error);
                    console.error(xhr.responseText);
                }
            })

            $('#incomes').on('click', function(e){
                location.href = "components/incomes/incomes.html"
            })
            $('#spents').on('click', function(e){
                location.href = "/spents.html"
            })
            $('#createIncome').on('click', function(e){
                location.href = "/createIncome.html"
            })
            $('#createSpent').on('click', function(e){
                location.href = "/createSpent.html"
            })
            $('#logout').on('click', function (e){
                localStorage.removeItem('jwt')
                location.reload()
            })
            $('#home').on('click', function(e){
                location.href = "/templates/home.html"
            })
        })
    </script>

    <script src="/scripts/utils.js"></script>
    <script src="/scripts/urls.js"></script>
    <script src="/scripts/jwtUtils.js"></script>
</body>
</html>